<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Job Scrapper</title>
  </head>
  <body>
    <h1>Job Scrapper</h1>
    <h4>What job do you want?</h4>
    <!-- form action="/search" -> 제출 시 /search URL로 이동 -->
    <form action="/search">
      <!-- name="keyword" -> URL 쿼리스트링 키 이름 (?keyword=입력값) -->
      <input type="text" name="keyword" placeholder="Write keyword please" />
      <button>Search</button>
    </form>
  </body>
</html>
